.hover\:bg-youtube:hover { background-color: #ff0000; }
.hover\:youtube:hover { color: #ff0000; }

.hover\:bg-twitter:hover { background-color: #0084b4; }
.hover\:twitter:hover { color: #0084b4; }

.hover\:bg-facebook:hover { background-color: #3b5998; }
.hover\:facebook:hover { color: #3b5998; }
